force-app/main/default/flows/Standarize_Training_Session_Attendee_Name.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Updating_Name</name>
        <label>Updating Name</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrainingAttendeeNaming</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>TrainingAttendeeNaming</name>
        <dataType>String</dataType>
        <expression>&apos;SA&apos;&amp; &apos;-&apos; &amp; {!$Record.Attendee__r.FirstName}&amp; &apos;-&apos; &amp;{!$Record.Training_Session__r.Name}&amp; &apos;-&apos; &amp; {!$Record.Training_Program__c}</expression>
    </formulas>
    <interviewLabel>Standarize Training Session Attendee Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Standarize Training Session Attendee Name</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>TrainingAttendeeNaming</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Updating_Name</targetReference>
        </connector>
        <object>Training_Session_Attendee__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
